/.idea
/data
/literature
/__pycache__
/results
/data_backup
/results_backup
/src/__pycache__
/backtest/__pycache__
/data_legacy
/.venv
/backtest_hurst_ml/.idea
/backtest_hurst_ml/__pycache__
/backtest_hurst_ml/output
/backtest_hurst_ml/output_ml
/backtest_hurst_ml/output_new
/backtest_hurst_ml/output_new_no_skip
/legacy_code
*.docx
*.pdf
*.txt
*.csv
*.parquet
*.png
/legacy_code
